<ion-app>
  <app-header></app-header>

  @if (navigationService.position() !== null) {
  <ion-content>
    @if (navigationService.position() === 'disabled') {
    <ng-template *ngTemplateOutlet="sidemenu">
    </ng-template>
    <ng-template *ngTemplateOutlet="content">
    </ng-template>
    }
    @if (navigationService.position() === 'left') {
    <ion-split-pane style="--side-max-width: 10%;" when="xs" contentId="main">
      <ng-container *ngTemplateOutlet="sidemenu">
      </ng-container>
      <div id="main">
        <ng-template *ngTemplateOutlet="content"></ng-template>
      </div>
    </ion-split-pane>
    }
    @if (navigationService.position() === 'bottom') {
    <ng-container *ngTemplateOutlet="content">
    </ng-container>
    <ng-container *ngTemplateOutlet="sidemenu">
    </ng-container>
    }
  </ion-content>
  }

  <oe-navigation></oe-navigation>
  @if (latestIncident !== null) {
  <oe-notification color="warning" [text]="latestIncident.message" [id]="latestIncident.id">
  </oe-notification>
  }
  <ng-container *ngTemplateOutlet="footer"></ng-container>
</ion-app>

<ng-template #content>
  @if (websocket.status === 'connecting' || websocket.status === 'failed') {
  <ion-grid>
    <ion-row class="ion-justify-content-center">
      <ion-col size="12" size-md="6">
        <ion-card>
          @switch (websocket.status) {
          <!-- Trying to connect to backend -->
          @case ('connecting') {
          <ion-item color="light">
            <ion-icon slot="start" name="wifi-outline"></ion-icon>
            <ion-label class="ion-text-wrap">
              <h2 translate>INDEX.CONNECTION_IN_PROGRESS</h2>
            </ion-label>
          </ion-item>
          }
          <!-- Connection failed -->
          @case ('failed') {
          <ion-item color="light">
            <ion-icon slot="start" name="close-circle-outline"></ion-icon>
            <ion-label class="ion-text-wrap">
              <h2 translate [translateParams]="{value: 'OpenEMS'}">INDEX.CONNECTION_FAILED</h2>
              <p color="light">{{ environment.url }}</p>
            </ion-label>
          </ion-item>
          }
          }
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
  }

  @if (isSystemLogEnabled) {
  <systemLog></systemLog>
  }

  <!-- Show Sub-Views -->
  <ion-router-outlet (activate)="onActivate($event)" id="content"></ion-router-outlet>
</ng-template>

<ng-template #sidemenu>
  <ion-menu menuId="main-menu" [contentId]="navigationService.position === 'left' ? 'main': 'content'"
    [type]="navigationService.position === 'left' ? '': 'overlay'" side="start">
    <ion-list>
      <!-- Show Link to Overview if more than one Edge is accessible or the globalRole is at least installer -->
      @if ((service.metadata | async); as service) {
      @if (isUserAllowedToSeeOverview) {
      <ion-item lines="none" routerLinkActive="active" routerLink="/overview" (click)="menu.close()">
        <ion-icon slot="start" color="primary" name="albums-outline"></ion-icon>
        <ion-label>{{"MENU.OVERVIEW" | translate}}</ion-label>
      </ion-item>
      }
      }

      @if (service.currentEdge(); as edge) {
      <nav>
        <ion-item lines="none" routerLink="/device/{{ edge.id }}/live" (click)="menu.close()">
          <ion-icon slot="start" size="" color="primary" name="grid-outline"></ion-icon>
          <ion-label>{{"GENERAL.LIVE" | translate}}</ion-label>
        </ion-item>
        <ion-item lines="none" routerLink="/device/{{ edge.id }}/history" (click)="menu.close()">
          <ion-icon slot="start" size="" color="primary" name="bar-chart-outline"></ion-icon>
          <ion-label>{{"GENERAL.HISTORY" | translate}}</ion-label>
        </ion-item>

        @if (isAtLeastOwner) {
        <ion-item-group>
          <ion-item-divider>
            <ion-label>{{ "MENU.EDGE_SETTINGS" | translate }}</ion-label>
          </ion-item-divider>
          <ion-item lines="none" routerLink="/device/{{ edge.id }}/settings/profile" (click)="menu.close()">
            <ion-icon slot="start" size="" color="primary" name="today-outline"></ion-icon>
            <ion-label>{{ "EDGE.CONFIG.INDEX.SYSTEM_PROFILE" | translate }}</ion-label>
          </ion-item>
          <ion-item lines="none" routerLink="/device/{{ edge.id }}/settings/systemlog" (click)="menu.close()">
            <ion-icon slot="start" size="" color="primary" name="list-outline"></ion-icon>
            <ion-label>{{"EDGE.CONFIG.INDEX.LOG" | translate}}</ion-label>
          </ion-item>
          <ion-item lines="none" routerLink="/device/{{ edge.id }}/settings/network" (click)="menu.close()">
            <ion-icon slot="start" size="" color="primary" name="globe-outline"></ion-icon>
            <ion-label>{{"EDGE.CONFIG.INDEX.NETWORK_CONFIGURATION" | translate}}</ion-label>
          </ion-item>
          <ion-item lines="none" routerLink="/device/{{ edge.id }}/settings/app" (click)="menu.close()">
            <ion-icon slot="start" size="" color="primary" name="add-outline"></ion-icon>
            <ion-label>{{ 'EDGE.CONFIG.APP.NAME_WITH_EDGE_NAME' | translate:
              {edgeShortName: environment.edgeShortName} }}</ion-label>
          </ion-item>
          <ion-item lines="none" routerLink="/device/{{ edge.id }}/settings/system" (click)="menu.close()">
            <ion-icon slot="start" size="" color="primary" name="hardware-chip-outline"></ion-icon>
            <ion-label>{{ environment.edgeShortName }} System</ion-label>
          </ion-item>
          @if (!isEdgeBackend) {
          <ion-item lines="none" routerLink="/device/{{ edge.id }}/settings/alerting" (click)="menu.close()">
            <ion-icon slot="start" size="" color="primary" name="notifications-outline"></ion-icon>
            <ion-label>{{"EDGE.CONFIG.INDEX.ALERTING" | translate}}</ion-label>
          </ion-item>
          }
        </ion-item-group>
        @if (isAtLeastAdmin) {
        <ion-item-group>
          <ion-item-divider>
            <ion-label>{{"GENERAL.VISIBLE_FOR_ADMINS_ONLY" | translate}}</ion-label>
          </ion-item-divider>
          <ion-item lines="none" routerLink="/device/{{ edge.id }}/settings/component.update" (click)="menu.close()">
            <ion-icon slot="start" size="" class="normal-icon" name="toggle-outline"></ion-icon>
            <ion-label>{{"EDGE.CONFIG.INDEX.ADJUST_COMPONENTS" | translate}}</ion-label>
          </ion-item>
          <ion-item lines="none" routerLink="/device/{{ edge.id }}/settings/component.install" (click)="menu.close()">
            <ion-icon slot="start" size="" class="normal-icon" name="add-outline"></ion-icon>
            <ion-label>{{"EDGE.CONFIG.INDEX.ADD_COMPONENTS" | translate}}</ion-label>
          </ion-item>
          <ion-item lines="none" routerLink="/device/{{ edge.id }}/settings/channels" (click)="menu.close()">
            <ion-icon slot="start" size="" class="normal-icon" name="eye-outline"></ion-icon>
            <!-- TODO translate -->
            <ion-label>Channels</ion-label>
          </ion-item>
          <ion-item lines="none" routerLink="/device/{{ edge.id }}/settings/systemexecute" (click)="menu.close()">
            <ion-icon slot="start" size="" class="normal-icon" name="play-outline"></ion-icon>
            <ion-label>{{"EDGE.CONFIG.INDEX.SYSTEM_EXECUTE" | translate}}</ion-label>
          </ion-item>
          <ion-item lines="none" routerLink="/device/{{ edge.id }}/settings/powerAssistant" (click)="menu.close()">
            <ion-icon slot="start" size="" class="normal-icon" name="construct-outline"></ion-icon>
            <ion-label>Power Assistant</ion-label>
          </ion-item>
          @if (canSeeJsonrpcTest) {
          <ion-item lines="none" routerLink="/device/{{ edge.id }}/settings/jsonrpctest" (click)="menu.close()">
            <ion-icon slot="start" size="" class="normal-icon" name="eye-outline"></ion-icon>
            <ion-label>Jsonrpc test</ion-label>
          </ion-item>
          }
        </ion-item-group>
        }
        }
      </nav>
      }

      @if(!service.isSmartphoneResolution && navigationService.position() === "left"){
      <oe-navigation-chips (navigate)="navigationService.navigateTo($event)"></oe-navigation-chips>
      }
    </ion-list>

    @if ((service.metadata | async)?.user; as user) {
      <ion-item tabindex="0" button routerLinkActive="active" (keydown.enter)="navigateToUser()"
        (click)="navigateToUser()" style="margin-top: auto;">
        <ion-icon size="large" color="primary" slot="start" name="person-outline">
        </ion-icon>
        <ion-label>
          <p style="color:var(--ion-text-color); font-weight: bold;">
            {{ user.name }}
          </p>
          <ion-text>
            <p style="color:var(--ion-text-color-shade); ">
              {{ user.id }}
            </p>
          </ion-text>
        </ion-label>
      </ion-item>
      }
  </ion-menu>
</ng-template>

<ng-template #footer>
  @if (isSystemOutage) {
  <ion-footer>
    <ion-toolbar color="warning">
      <ion-grid>
        <ion-row class="ion-justify-content-center">
          <ion-col size="12" size-md="6">
            <span translate>GENERAL.SYSTEM_OUTAGE</span>
            <span>&nbsp;</span>
            <a href="https://status.fenecon.de/" target="_blank">status.fenecon.de</a>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-toolbar>
  </ion-footer>
  }
  @if (isUserAllowedToSeeFooter && !isHistoryDetailView) {
  <oe-footer #appFooter slot="fixed"></oe-footer>
  }
</ng-template>